<!DOCTYPE html>
<html lang="ru">
<head>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesprofile.css')}}">
</head>
<body>
    <header>
        <h1 class="logo">
            <span class="mountain">V</span>iews
        </h1>
        <p class="subtitle">Виды со всего мира!</p>
    </header>
    <main>
        <div class="picture-container"></div>
            <div class="picture-box"><img src="https://img.geliophoto.com/gunib/07_gunib.jpg" width="400"  alt="" srcset=""></div>
            <div class="text-box">
                <h2>Гора Гуниб в Дагестане</h2>
                <p>Самой высокой точкой плато считается гора Гуниб, которая также известна как гора Маяк. Ее высота — 2352 м. В среднем плато располагается на высоте 1700 м. Горный массив сложен светлыми известняками. Поскольку со всех сторон плато образует отвесные уступы, оно похоже на неприступную крепость.</p>
                <a href="profile" class="profile-link">Перейти в профиль</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-left">+7-929-991-39-11</div>
        <div class="footer-right">kuraknl0@gmail.com</div>
    </footer>
</body>
</html>
